extends layout

block content
    div(style='width: 100%; text-align: center; ')
        div(style='display: inline-block; width: 100%; text-align: center; border: 1px solid gainsboro; padding-bottom: 8px; margin: 2px;')