extends layout

block content
    script.
        var RSD__SessionID = '';
        $.ajax(
            {
                headers: {'Access-Control-Allow-Origin': '*'},
                url: "/api/v1/checkout",
                type: 'GET',
                accepts: 'json',
                success: function(result){
                    RSD__SessionID = result.session.id[0];
                }
            }
        );
        localStorage.setItem('valorCompra', 1234.56);

    div(style='width: 100%; text-align: center; ')
        label
            b Dados para Contato
        div(style='display: inline-block; width: 100%; text-align: center; border: 0px; padding-bottom: 2px; margin: 2px;')
            div(style='display: inline-block; width: 98%; max-width: 330px; text-align: left; border: 1px solid gainsboro; padding: 8px; margin: 2px;')
                label()
                    b Nome
                br
                input(id='txtNome', type='text', style='width: 96%; height: 32px; border: 1px solid gainsboro;')
            div(style='display: inline-block; width: 98%; max-width: 330px; text-align: left; border: 1px solid gainsboro; padding: 8px; margin: 2px;')
                label()
                    b CPF
                br
                input(id='txtCPF', type='text', style='width: 96%; height: 32px; border: 1px solid gainsboro;')
            div(style='display: inline-block; width: 98%; max-width: 330px; text-align: left; border: 1px solid gainsboro; padding: 8px; margin: 2px;')
                label()
                    b Celular
                br
                input(id='txtCelular', type='text', style='width: 96%; height: 32px; border: 1px solid gainsboro;')
            div(style='display: inline-block; width: 98%; max-width: 330px; text-align: left; border: 1px solid gainsboro; padding: 8px; margin: 2px;')
                label()
                    b E-Mail
                br
                input(id='txtEMail', type='text', style='width: 96%; height: 32px; border: 1px solid gainsboro;')
            div(style='display: inline-block; width: 98%; max-width: 330px; text-align: left; border: 1px solid gainsboro; padding: 8px; margin: 2px;')
                label()
                    b CEP
                br
                input(id='txtCEP', type='text', style='width: 96%; height: 32px; border: 1px solid gainsboro;')

    div(style='width: 100%; text-align: center; ')
        label
            b Dados para Entrega
        div(style='display: inline-block; width: 100%; text-align: center; border: 0px; padding-bottom: 2px; margin: 2px;')
            div(style='display: inline-block; width: 98%; max-width: 330px; text-align: left; border: 1px solid gainsboro; padding: 8px; margin: 2px;')
                label()
                    b Rua
                br
                input(id='txtRua', type='text', style='width: 96%; height: 32px; border: 1px solid gainsboro;')
            div(style='display: inline-block; width: 98%; max-width: 330px; text-align: left; border: 1px solid gainsboro; padding: 8px; margin: 2px;')
                label()
                    b Número
                br
                input(id='txtNumero', type='text', style='width: 96%; height: 32px; border: 1px solid gainsboro;')
            div(style='display: inline-block; width: 98%; max-width: 330px; text-align: left; border: 1px solid gainsboro; padding: 8px; margin: 2px;')
                label()
                    b Bairro
                br
                input(id='txtBairro', type='text', style='width: 96%; height: 32px; border: 1px solid gainsboro;')
            div(style='display: inline-block; width: 98%; max-width: 330px; text-align: left; border: 1px solid gainsboro; padding: 8px; margin: 2px;')
                label()
                    b Cidade
                br
                input(id='txtCidade', type='text', style='width: 96%; height: 32px; border: 1px solid gainsboro;')
            div(style='display: inline-block; width: 98%; max-width: 330px; text-align: left; border: 1px solid gainsboro; padding: 8px; margin: 2px;')
                label()
                    b Estado
                br
                input(id='txtEstado', type='text', style='width: 96%; height: 32px; border: 1px solid gainsboro;')
    div(style='width: 100%; text-align: center; ')
        label
            b Dados para Pagamento
        div(style='display: inline-block; width: 100%; text-align: center; border: 0px; padding-bottom: 2px; margin: 2px;')
            div(style='display: inline-block; width: 98%; max-width: 330px; text-align: left; border: 1px solid gainsboro; padding: 8px; margin: 2px;')
                label()
                    b Número do Cartão
                br
                input(id='txtNumeroCartao', type='text', style='width: 96%; height: 32px; border: 1px solid gainsboro;')
            div(style='display: inline-block; width: 98%; max-width: 330px; text-align: left; border: 1px solid gainsboro; padding: 8px; margin: 2px;')
                label()
                    b Bandeira
                br
                input(id='txtBandeira', type='text', style='width: 96%; height: 32px; border: 1px solid gainsboro;')
            div(style='display: inline-block; width: 98%; max-width: 330px; text-align: left; border: 1px solid gainsboro; padding: 8px; margin: 2px;')
                label()
                    b CVV
                br
                input(id='txtCVV', type='text', style='width: 96%; height: 32px; border: 1px solid gainsboro;')
            div(style='display: inline-block; width: 98%; max-width: 330px; text-align: left; border: 1px solid gainsboro; padding: 8px; margin: 2px;')
                label()
                    b Mês de Expiração
                br
                input(id='txtMesExpiracao', type='text', style='width: 96%; height: 32px; border: 1px solid gainsboro;')
            div(style='display: inline-block; width: 98%; max-width: 330px; text-align: left; border: 1px solid gainsboro; padding: 8px; margin: 2px;')
                label()
                    b Ano de Expiração
                br
                input(id='txtAnoExpiracao', type='text', style='width: 96%; height: 32px; border: 1px solid gainsboro;')
            
            div(style='display: inline-block; width: 98%; max-width: 330px; text-align: left; border: 1px solid gainsboro; padding: 8px; margin: 2px;')
                label()
                    b Valor
                br
                input(id='txtValor', type='text', readonly, style='width: 96%; height: 32px; border: 1px solid gainsboro;')
    br
    button(onclick='onCheckOut();' style="color: white; font-size: 16px; width: 98%; height: 42px; background: green; border: 0px") Finalizar
    script(src="https://stc.sandbox.pagseguro.uol.com.br/pagseguro/api/v2/checkout/pagseguro.directpayment.js", async)
    script.
        (function() {
            $('#txtValor').val(localStorage.getItem('valorCompra'));
        })();

        function onCheckOut(){
            // javascript:window.location="/checkout-sucesso"
            PagSeguroDirectPayment.setSessionId(RSD__SessionID);

            PagSeguroDirectPayment.onSenderHashReady(
                function(response){
                    if(response.status == 'error') {
                        console.log(response.message);
                        return false;
                    }
                var hash = response.senderHash;
                console.log(hash);
                }
            );

            PagSeguroDirectPayment.getPaymentMethods(
                {
                    amount: localStorage.getItem('valorCompra'),
                    success: function(response) {
                        //meios de pagamento disponíveis
                        console.log(response);
                    },
                    error: function(response) {
                        //tratamento do erro
                        console.log('Deu erro... '  + response);
                    },
                    complete: function(response) {
                        //tratamento comum para todas chamadas
                    }
                }
            );
            var _cardToken = '';
            var param = {
                cardNumber: $('#txtNumeroCartao').val(),
                brand: $('#txtBandeira').val(),
                cvv: $('#txtCVV').val(),
                expirationMonth: $('#txtMesExpiracao').val(),
                expirationYear: $('#txtAnoExpiracao').val(),
                success: function(response) {
                    //token gerado, esse deve ser usado na chamada da API do Checkout Transparente
                    _cardToken = response.card.token;
                    console.log('sucess0 ' + response);
                },
                error: function(response) {
                    //tratamento do erro
                    console.log('err0 ' + response);
                },
                complete: function(response) {
                    //tratamento comum para todas chamadas
                }
            }
            PagSeguroDirectPayment.createCardToken(param);

            var boleto = 'currency=BRL';
            boleto = boleto + '&extraAmount=1.00';
            boleto = boleto + '&itemId1=0001';
            boleto = boleto + '&itemDescription1=Notebook Prata';
            boleto = boleto + '&itemAmount1=' + $('#txtValor').val();
            boleto = boleto + '&itemQuantity1=1';
            boleto = boleto + '&notificationURL=https://sualoja.com.br/notifica.html';
            boleto = boleto + '&reference=REF1234';
            boleto = boleto + '&senderName=' + $('#txtNome').val();
            boleto = boleto + '&senderCPF=' + $('#txtCPF').val();
            boleto = boleto + '&senderAreaCode=11';
            boleto = boleto + '&senderPhone=' + $('#txtCelular').val();
            boleto = boleto + '&senderEmail=' + $('#txtEMail').val();
            boleto = boleto + '&senderHash=' + PagSeguroDirectPayment.getSenderHash().replace('"','').replace('"','');
            boleto = boleto + '&shippingAddressStreet=' + $('#txtRua').val();
            boleto = boleto + '&shippingAddressNumber=' + $('#txtNumero').val();
            boleto = boleto + '&shippingAddressComplement=';
            boleto = boleto + '&shippingAddressDistrict=' + $('#txtBairro').val();
            boleto = boleto + '&shippingAddressPostalCode=' + $('#txtCEP').val();
            boleto = boleto + '&shippingAddressCity=' + $('#txtCidade').val();
            boleto = boleto + '&shippingAddressState=' + $('#txtEstado').val();
            boleto = boleto + '&shippingAddressCountry=BRA';
            boleto = boleto + '&creditCardToken=' + _cardToken.replace('"','').replace('"','');
            boleto = boleto + '&installmentQuantity=1';
            boleto = boleto + '&installmentValue=' + $('#txtValor').val();
            boleto = boleto + '&noInterestInstallmentQuantity=3';
            boleto = boleto + '&creditCardHolderName=' + $('#txtNome').val();
            boleto = boleto + '&creditCardHolderCPF=' + $('#txtCPF').val()
            boleto = boleto + '&creditCardHolderBirthDate=27/10/1987';
            boleto = boleto + '&creditCardHolderAreaCode=11';
            boleto = boleto + '&creditCardHolderPhone=' + $('#txtCelular').val()
            
            $.ajax(
                {
                    headers: {'Access-Control-Allow-Origin': '*'},
                    url: "/api/v1/checkout?" + boleto,
                    type: 'POST',
                    accepts: 'json',
                    success: function(result){
                        console.log('---> ' + result);
                    }
                }
            );
        }