extends layout

block content
  center
    br
    h1 Muito obrigado :)
    br
    h2 Compra realizada com sucesso!
    br
    h3 Em breve você receberá um e-mail com todos os detalhes da sua compra.
    br
    br
    br
    br